.addform{
    width: 100%;
}
.addform form{
    display: flex;
    flex-direction: row;
}
.addform input{
    width: 100%;
    padding: 15px 10px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-bottom: 0;
    border-top-left-radius: 7px;
    font-size: 19px;
    border-right: 0;
}
.addform input:focus{
    outline: 0;
}
.addform button{
    padding: 12px 8px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-top-right-radius: 7px;
    font-size: 30px;
    border-left: 0;
    background-color: white;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
    height: fit-content;
    border-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
.addform button:hover{
    background-color: #2c3e50;
    border-color: #2c3e50;
    color: #ecf0f1;
}