.addform{
    width: 100%;
}
.addform form{
    display: flex;
    flex-direction: row;
}
.addform input{
    width: 100%;
    padding: 15px 8px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-top-left-radius: 7px;
    font-size: 19px;
    border-right: 0;
}
.addform input:focus{
    border-color: #2c3e50;
    outline: 0;
}
.addform button{
    padding: 12px 8px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    border-top-right-radius: 7px;
    font-size: 19px;
    border-left: 0;
    background-color: white;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
}
.addform button:hover{
    background-color: #2c3e50;
    border-color: #2c3e50;
    color: #ecf0f1;
}