.filtertask{
    background-color: #bdc3c7;
    width: 100%;
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -3px;
    border-radius: 0 0 7px 7px;
    box-shadow: inset 0 1px 5px #0000003b;
}
.itemsleft{
    padding: 0 10px;
    font-size: 14px;
    font-weight: 400;
    width: 150px;
}
.filter{
    width: 100%;
}
.filterbtn{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.filterbtn li button{
    border: 1px solid #0000003b;
    background-color: transparent;
    border-radius: 4px;
    padding: 5px 14px;
    margin: 0 2px;
    cursor: pointer;
    transition-duration: 0.1s;
}
.filterbtn li button:hover{
    color: white;
    background-color: #34495e;
}
.filterbtn li button.active{
    border-color: #27ae60;
    color: white;
    background-color: #27ae60;
}