.taskitem{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #00000038;
    border-radius: 0 0 5px 5px;
    padding: 15px 8px;
    margin-bottom: -4px;
    background-color: #ecf0f1;
}
.taskitem.active{
    background-color: #7f8c8d;
    border-color: black;
}
.taskitem.active h6{
    text-decoration: line-through;
    color: black;
    text-decoration-thickness: 3px;
}
.taskitem button{
    border: 0;
    background-color: transparent;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 8px;
}
.taskitem button:hover{
    color: #e74c3c;
    transition-duration: 0.1s;
}
.taskitem input{
    width: 20px;
    cursor: pointer;
    margin-left: 5px;
}
.taskitem h6{
    width: 100%;
    padding: 0 20px;
    margin: auto;
}